<section class="is-large-is-narrow">
  <div class="card" *ngFor="let card of completedArr">
    <div class="card-header"
    [class.high]="card.priority === 'High'"
    [class.medium]="card.priority === 'Medium'"
    [class.low]="card.priority === 'Low'"
    ><p class="card-header-title">
      Lorem ipsum dolor sit
        <!-- {{ card.title }} -->
      </p>
      <p class="card-header-icon">
        <span class="title is-5"
          >Points:
          <span class="pointVal">{{ card.pointVal }}</span>
        </span>
      </p>
    </div>
    <div class="card-content">
      <p class="content">
          <!-- {{ card.content }}  -->
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate asperiores cumque facere quod. Saepe sapiente obcaecati doloremque voluptates voluptas corrupti sint facere suscipit, commodi repellat amet est? Delectus, laboriosam molestias.
        </p>
    </div>
  </div>
</section>
