*{
    justify-items:flex-start;
}
#cards{
    max-height: fit-content;
    max-width: fit-content;
    display: flex;
    
}
.card{
    //     width: 300px;
    //     height: 175px;
        margin: 6px;
    // }
    }
    
    .card-header{
        background-color: lighten(cadetblue, 15%)
    }

    .high{
        background-color: lighten(maroon, 46%);
    }

    .medium{
        background-color: rgb(255, 232, 21);
    }

   