<!-- Head and bar colors -->
<div class="top-bar" *ngIf="!showCompleted">
  <h1>Jolly To-Do</h1>
</div>

<section class="point-total" *ngIf="!showCompleted">
  <h2 class="points">
    <!-- Ability to display the points on this card per the priority
    value set at the form submission -->
    Points: <span class="points-color">{{ displayPoints }}</span>
  </h2>
</section>

<section class="button-section" *ngIf="!showCompleted">
  <div class="buttons">
    <div class="control is-wide">
      <p class="control">
        <!-- displayForm() function sets the boolean val to toggle the form modal -->
        <a class="button is is-light" (click)="displayForm()">New Task</a>
        <a class="button">Manage Daily Tasks</a>
        <a class="button" (click)="completed()">View Completed Tasks </a>
      </p>
    </div>
  </div>
</section>


  <div *ngIf="formDisplay" class="modal-is-active">
    <!-- ^^^toggles the modal^^^ -->
    <div class="modal-background"></div>
    <div class="modal-content">
      <todo-form
        (todoForm)="newToDoItem($event)"
        (close)="modalClose($event)"
      ></todo-form>
    </div>
  </div>

  <div *ngIf="!formDisplay" class="body-is-large">
    <!--^^^^ toggles the item cards off when the new item form modal
    is activated to allow the modal to display more cleanly -->
    <div *ngIf="!showCompleted">
      
        <todo-item-card (updatePoints)="completeTally($event)">
        </todo-item-card>
      
    </div>
  </div>

  <div *ngIf="showCompleted" class="modal-is-active">
    <!-- ^^^toggles the modal for completed items^^^ -->
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="control">
        <completed-cards></completed-cards>
      </div>
      <button
        class="modal-close is-large"
        aria-label="close"
        (click)="completed()"
      ></button>
    </div>
  </div>
