
<section class="is-large-is-narrow">
<div class="card" *ngFor="let card of cardArr">
    
    <div class="card-header">
        <p class="card-header-title">
            {{card.title}}
        </p>
        <p class="card-header-icon">
            <span class="title is-5">Points: <span class="pointVal">{{card.pointVal}}</span></span>
        </p>
    </div>
    <div class="card-content">
        <p class="content">{{card.content}} <span *ngIf="card.due">{{card.dueDate}}</span></p>
            
            
        
    </div>
    <div class="card-footer">
        <a href="#" class="card-footer-item" (click)="editTask(card)">Edit</a>
        <a href="#" class="card-footer-item" (click)="deleteTask(card)">Delete</a>
        <a href="#" class="card-footer-item" (click)="completeTask(card)">Complete</a>
    </div>
</div>
</section>
